<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reference_number %><br>
    <%= f.text_area :reference_number %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :floor %><br>
    <%= f.text_field :floor %>
  </div>
  <div class="field">
    <%= f.label :bedrooms %><br>
    <%= f.text_field :bedrooms %>
  </div>
  <div class="field">
    <%= f.label :bathrooms %><br>
    <%= f.text_field :bathrooms %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :sale_price %><br>
    <%= f.text_field :sale_price %>
  </div>
  <div class="field">
    <%= f.label :rent_price %><br>
    <%= f.text_field :rent_price %>
  </div>
  <div class="field">
    <%= f.label :condo %><br>
    <%= f.text_area :condo %>
  </div>
  <div class="field">
    <%= f.label :google_drive_folder %><br>
    <%= f.text_area :google_drive_folder %>
  </div>
  <div class="field">
    <%= f.label :dropbox_folder %><br>
    <%= f.text_area :dropbox_folder %>
  </div>
  <div class="field">
    <%= f.label :images_urls %><br>
    <%= f.text_area :images_urls %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
