<p id="notice"><%= notice %></p>

<h1>Listing Agents</h1>

<table>
  <thead>
    <tr>
      <th>Reference number</th>
      <th>Unit</th>
      <th>Floor</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Area</th>
      <th>Description</th>
      <th>Sale price</th>
      <th>Rent price</th>
      <th>Condo</th>
      <th>Google drive folder</th>
      <th>Dropbox folder</th>
      <th>Images urls</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.reference_number %></td>
        <td><%= agent.unit %></td>
        <td><%= agent.floor %></td>
        <td><%= agent.bedrooms %></td>
        <td><%= agent.bathrooms %></td>
        <td><%= agent.area %></td>
        <td><%= agent.description %></td>
        <td><%= agent.sale_price %></td>
        <td><%= agent.rent_price %></td>
        <td><%= agent.condo %></td>
        <td><%= agent.google_drive_folder %></td>
        <td><%= agent.dropbox_folder %></td>
        <td><%= agent.images_urls %></td>
        <td><%= link_to 'Show', agent %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
        <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path %>
