<p id="notice"><%= notice %></p>

<p>
  <strong>Reference number:</strong>
  <%= @agent.reference_number %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @agent.unit %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @agent.floor %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @agent.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @agent.bathrooms %>
</p>

<p>
  <strong>Area:</strong>
  <%= @agent.area %>
</p>

<p>
  <strong>Description:</strong>
  <%= @agent.description %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @agent.sale_price %>
</p>

<p>
  <strong>Rent price:</strong>
  <%= @agent.rent_price %>
</p>

<p>
  <strong>Condo:</strong>
  <%= @agent.condo %>
</p>

<p>
  <strong>Google drive folder:</strong>
  <%= @agent.google_drive_folder %>
</p>

<p>
  <strong>Dropbox folder:</strong>
  <%= @agent.dropbox_folder %>
</p>

<p>
  <strong>Images urls:</strong>
  <%= @agent.images_urls %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
